<%= form.text_field :name %>
<section>
<h1>Eventbrite</h1>
<%= form.text_field :eventbrite_id, label: 'Eventbrite ID' %>
<%= form.text_field :eventbrite_token %>
</section>
<%= form.check_box :active %>
