<h2>Events</h2>

<table class="table">
  <tr>
    <th>Event Name</th>
    <th>Active</th>
    <th>Status</th>
    <th></th>
  </tr>
  <% @events.each do |event| %>
    <% cache event do %>
      <tr>
        <td><%= event.name %></td>
        <td>
        <% if event.active %>
          <span class="badge bg-success">Yes</span>
        <% else %>
          <span class="badge bg-danger">No</span>
        <% end %>
        </td>
        <td><%= event.event_mode.to_s.titleize %></td>
        <td><%= link_to 'Open', admin_event_path(event) %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td colspan="4">
      <%= link_to 'Create Event', new_admin_event_path() %>
    </td>
  </tr>
</table>

