<% if @event %>
  <%= render partial: '/events/event' %>
<% else %>
  <h1>Hello <%= current_user.name %></h1>
  <p>You are a member of London Decompression.</p>
  <p>Thanks for being a member. Tickets and volunteering are not live yet, but we will email you as soon as they are.</p>
  <p>In the meantime, get news from our <a href="https://londondecom.org/">website</a>.</p>
<% end %>

<hr />

<% if current_user.low_income_request %>
  <% if current_user.low_income_request.status == 'approved' %>
    <p>Your request for Low Income has been approved. When tickets are available, you will be able to purchase a low income ticket.</p>
  <% elsif current_user.low_income_request.status == 'rejected' %>
    <p>Your request for Low Income has been rejected.</p>
  <% else %>
    <p>You have applied for Low Income Tickets. You will be notified when it has been reviewed.</p>
  <% end %>
<% else %>
  <% if !@event || @event.available_tickets_for_code(current_user.membership_number) > 0 %>
    Low Income Ticket applications for 2023 will be opening soon
  <% end %>
<% end %>
