<% if @event %>
  <%= render partial: '/events/event' %>
<% else %>
  <h1>Hello <%= current_user.name %>!</h1>
  <p>You are a member of London Decompression.</p>
  <p>We do not have any events currently active, but check back soon.</p>
<% end %>
