<% if @event and !@event.draft? %>
  <% if @event.ended? %>
    <center>
      <%= render partial: '/events/event_ended' %>
    </center>
  <% else %>
    <%= render partial: '/events/event' %>
  <% end %>
<% else %>
  <h1>Hey <%= current_user.name %></h1>
  <p>You are a member of London Decompression.</p>
  <p>Thanks for being a member. Tickets and volunteering are not live yet, but we will email you as soon as they are.</p>
  <p>In the meantime, get news from our <a href="https://londondecom.org/">website</a>.</p>
<% end %>
