<h1>Thank You!</h1>
<p>Thank you for making <%= @event.name %> an absolutely brilliant event.</p>
<p>We will be contacting you soon with a post-event survey to get your feedback.</p>
<p>And we look forward to seeing you at the next one!</p>
<p>Love and Dusty Hugs</p>
<p>The London Decompression Team</p>
