<p>Welcome <%= @resource.name %>!</p>

<p>You can confirm your London Decompression membership please click the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thanks!</p>
