<h2>Unconfirmed Members</h2>

<p>There are currently <%= @users.count %> members</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Confirmation Link</th>
  </tr>
  <% @users.each do |user| %>
    <% cache user do %>
      <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Link', confirmation_url(user, confirmation_token: user.confirmation_token) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
